{% extends 'user/_layout.html' %}

{% block title %}
  <title> Minhas Tarefas - Registrar </title>
{% endblock %}

{% block main %}
  <main>
    <h1> Registre-se </h1>
    {% with messages = get_flashed_messages(true) %}
      {% if messages %}
        <!-- Buscando a categoria da 1ª mensagem -->
        <p class="{{messages[0][0]}}">
          <!-- Buscando o texto da 1ª mensagem -->
          {{ messages[0][1] }}
        </p>
      {% endif %}
    {% endwith %}
    <form action="/registrar" method="POST">
      <div class="form-item">
        <label for="nome"> Usuario </label>
        <input type="text" name="nome" id="nome" autocomplete="off" autofocus>
      </div>
      <div class="form-item">
        <label for="senha"> Senha </label>
        <input type="password" name="senha" id="senha" autocomplete="off">
      </div>
      <div class="form-item">
        <label for="confirmar-senha"> Confirmar Senha </label>
        <input type="password" name="confirmar-senha" id="confirmar-senha" autocomplete="off">
      </div>
      <button type="submit"> Criar Conta </button>
    </form>
    <p> Já o tem conta? <a href="/login"> Entre com sua conta </a></p>
  </main>
{% endblock %}