{% extends 'tarefa/_layout.html' %} 

{% block title %}
  <h2> Cadastro de Tarefa </h2>
{% endblock %}

{% block content %}
  <section id="content">
    <form action="/tarefas/save" method="POST">
      <div class="form-container">
        <div class="form-item">
          <label for="nome"> Tarefa </label>
          <input type="text" name="nome" id="nome" required/>
        </div>
        <div class="form-item">
          <label for="data-inicio"> Data de Inicio </label>
          <input type="date" name="data_inicio" id="data-inicio" required/>
        </div>
      </div>
      <div class="form-item">
        <label for="descricao"> Descricao </label>
        <textarea name="descricao" id="descricao"></textarea>
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </section>
{% endblock %}
